footer
  background: #3b434c
.footer-wrapper
  display: flex
  justify-content: space-between
.copyright
  small
    line-height: 2.5
    color: #fff
.footer-author
  line-height: 2.5
  color: #fff
  text-transform: uppercase
@include desktop
  footer
    padding: 32px 0
  .footer-wrapper
    padding: 0 15px
  .copyright
    small
      font-size: 16px
  .footer-author
    font-size: 16px
@include mobile
  footer
    padding: .32rem 0
  .footer-wrapper
    padding: 0 .15rem
  .copyright
    small
      font-size: .19rem
  .footer-author
    font-size: .19rem
    img
      width: .92rem