.container
  overflow: hidden
  position: relative
.button-primary
  color: #fff
  text-transform: uppercase
.title-primary
  font-weight: $semi-bold
  text-transform: uppercase
  span
    color: #f7600e
.description-primary
  line-height: 1.8
.trans
  opacity: 1
  transition: opacity 0.3s ease
  &:hover
    opacity: 0.8
@include desktop 
  body
    font-size: 14px
  .container 
    min-width: 1250px
  .wrapper 
    width: 1170px
    margin: 0 auto
  .button-primary
    font-size: 16px
    border-radius: 10px
    width: 210px
    min-height: 50px
  .title-primary
    font-size: 35px
    letter-spacing: 0.01px
  .description-primary
    font-size: 16px
@include mobile
  html 
    font-size: calc(100vw / 7.5)
  body
    font-size: .28rem
  .container
    min-width: 320px
  .wrapper
    padding-left: .3rem
    padding-right: .3rem
  .button-primary
    font-size: .23rem
    border-radius: .1rem
    width: 2.5rem
    min-height: .55rem
  .title-primary
    font-size: .35rem
    letter-spacing: .0001rem
  .description-primary
    font-size: .23rem