header
  position: absolute
  left: 0
  width: 100%
.header-wrapper
  display: flex
  justify-content: space-between
.menu-wrapper
  display: flex
  align-items: center
.menu-label
  color: #fff
  line-height: 1
  cursor: pointer
// .header-logo
//   transition: all 0.3s
//   &:hover
//     opacity: 0.8
@include desktop
  header
    top: 50px
  .header-wrapper
    padding: 0 15px 0 44px
  .menu-wrapper
    gap: 0 18px
  .menu-label
    font-size: 16px
@include mobile
  header
    top: .5rem
  .header-wrapper
    padding: 0 .15rem 0 .44rem
  .menu-wrapper
    gap: 0 .18rem
  .menu-label
    font-size: .22rem

  
