/** Banner **/
.section-banner
  background: url(../img/banner_background.jpg) center/cover no-repeat
.banner-content
  text-align: center
  .banner-title
    color: #fff
    font-weight: $extra-bold
.banner-title
  text-transform: uppercase
  span
    color: #f7600e
.banner-description
  color: #fff
  line-height: 1.6
.banner-button
  display: flex
  justify-content: center
.hire-button, .works-button, .submit-button
  display: flex
  justify-content: center
  align-items: center
  line-height: 2.5
.hire-button
  background: #f7600e
  border: 1px solid #f7600e
.works-button
  border: 2px solid #65696e
  background: transparent
.arrow-down-icon
  display: block
  margin: 0 auto
@include desktop
  .banner-content
    padding: 227px 16px 50px
    .banner-title
      font-size: 70px
      margin-bottom: 6px
  .banner-description
    font-size: 25px
    margin-bottom: 60px
  .banner-button
    gap: 0 28px
    margin-bottom: 195px
  .arrow-down-icon
    width: 34px
    height: 34px
@include mobile
  .banner-content
    padding: 2.27rem .16rem .5rem
    .banner-title
      font-size: .7rem
      margin-bottom: .06rem
  .banner-description
    font-size: .25rem
    margin-bottom: .6rem
  .banner-button
    gap: 0 .28rem
    margin-bottom: 1.95rem
  .arrow-down-icon
    img
      width: .68rem
/** Our Services **/
.services-wrapper
  display: flex
  flex-wrap: wrap
  text-align: center
  margin: 0 auto
  li
    img
      border: 1px solid #cdced1
      border-radius: 50%
.section-our-services
  .services-title
    color: #6c7279
    text-transform: uppercase
    line-height: 2.5
  .services-description
    font-weight: $regular
    color: #6c7279
    line-height: 1.8
@include desktop
  .section-our-services
    padding: 100px 0 106px
  .services-wrapper
    justify-content: flex-start
    width: 1170px
    gap: 40px 30px
    padding: 0 16px
    li
      width: 262px
      padding: 0 40px
      img
        margin-bottom: 15px
  .section-our-services
    .services-title
      font-size: 16px
      margin-bottom: 9px
    .services-description
      font-size: 14px
@include mobile
  .section-our-services
    padding: 1rem 0 1.06rem
  .services-wrapper
    justify-content: center
    gap: .4rem .3rem
    padding: 0 .16rem
    li
      width: 2.62rem
      padding: 0 .4rem
      img
        margin-bottom: .15rem
  .section-our-services
    .services-title
      font-size: .26rem
      margin-bottom: .09rem
    .services-description
      font-size: .24rem
/** News letters **/
.top-news-letter
  background: url(../img/newsletter-background.jpg) center/cover no-repeat
  text-align: center
.letter-form-wrapper
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
.form-input
  border: 1px solid #fff
  background: #fff
  border-radius: 10px
  line-height: 2.5
  color: #3b434c
  &::placeholder
    color: #3b434c
.subcribe-button
  font-weight: $semi-bold
  background: #f7600e
  border: 1px solid #f7600e
  display: flex
  justify-content: center
  align-items: center
@include desktop
  .top-news-letter
    padding: 100px 0
  .letter-form-wrapper
    gap: 30px 30px
  .form-input
    width: 563px
    height: 50px
    padding: 5px 20px
    font-size: 16px
  .subcribe-button
    width: 269px
@include mobile
  .letter-form-wrapper
    gap: .3rem .3rem
  .top-news-letter
    padding: 1rem 0
  .form-input
    width: 100%
    height: .7rem
    padding: .09rem .2rem
    font-size: .23rem
  .subcribe-button
    width: 2.69rem
/** Our works **/
.section-our-works
  text-align: center
  .works-title
    line-height: 1
    color: #3b434c
  .works-description
    color: #3b434c
.works-wrapper
  display: flex
  flex-wrap: wrap
  li
    position: relative
.work-button
  line-height: 2.5
  font-weight: $semi-bold
  border: 1px solid #d8d9db
  text-transform: uppercase
  color: #3b434c
.overlay
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
.overlay-title
  line-height: 1.6
.overlay-description
  line-height: 1.8
.overlay-button
  display: flex
  justify-content: center
  align-items: center
  line-height: 2.5
  font-weight: $semi-bold
@include desktop
  .section-our-works
    padding: 94px 0 104px
    .works-title
      margin-bottom: 19px
    .works-description
      margin-bottom: 96px
  .works-wrapper
    justify-content: flex-start
    gap: 28px 29px
    margin-bottom: 107px
    width: 1170px
    padding: 0 15px
    img
      width: 360px
      height: 360px
      border-radius: 10px
  .work-button
    padding: 15px 55px
  .overlay
    padding: 84px 48px 87px
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    transition: all 0.5s ease
    &:hover
      border-radius: 10px
      background: #f87026
      opacity: 0.9
  .overlay-title
    font-size: 25px
    margin-bottom: 10px
    color: #fff
  .overlay-description
    font-size: 14px
    margin-bottom: 47px
    color: #fff
  .overlay-button
    color: #f7600e
    background: #fff
@include mobile
  .section-our-works
    padding: .94rem 0 1.04rem
    .works-title
      margin-bottom: .19rem
    .works-description
      margin-bottom: .98rem
  .works-wrapper
    justify-content: center
    gap: .28rem .29rem
    margin-bottom: .96rem
    padding: 0 .15rem
    img
      width: 5.5rem
      height: 5.5rem
      border-radius: .2rem
  .work-button
    padding: .15rem .55rem
  .overlay
    padding: .84rem .48rem .87rem
  .overlay-title
    font-size: .35rem
    margin-bottom: .1rem
  .overlay-description
    font-size: .23rem
    margin-bottom: .47rem
  .overlay-button
    background: #f7600e
    color: #fff
/** Photo **/
.top-photo
  background: url(../img/photo_background.jpg) center/cover no-repeat
  text-align: center
.photo-wrapper
  margin: 0 auto
  position: relative
  img
    border-radius: 50%
  &::before
    content: ' '
    position: absolute
    top: 50%
    right: 122%
    width: 24px
    height: 42px
    transform: translateY(-50%)
    background: url(../img/prev_icon.png) center/cover no-repeat
    cursor: pointer
  &::after
    content: ' '
    position: absolute
    top: 50%
    left: 122%
    width: 24px
    height: 42px
    transform: translateY(-50%)
    background: url(../img/next_icon.png) center/cover no-repeat
    cursor: pointer
.photo-title
  line-height: 1.6
  color: #fff
  font-weight: $regular
  font-style: italic  
.photo-author
  font-weight: $semi-bold
  line-height: 2.2
  color: #fff
@include desktop
  .top-photo
    padding: 102px 0 96px
  .photo-wrapper
    width: 888px
    padding: 0 10px
    img
      width: 120px
      height: 120px
      margin-bottom: 38px
  .photo-title
    font-size: 25px
    margin-bottom: 28px
  .photo-author
    font-size: 18px
@include mobile
  .top-photo
    padding: 1.02rem 0 .96rem
  .photo-wrapper
    padding: 0 .1rem
    img
      margin-bottom: .38rem
      width: 1.2rem
      height: 1.2rem
  .photo-title
    font-size: .26rem
    margin-bottom: .28rem
  .photo-author
    font-size: .23rem
/** Our Team **/
.section-our-team
  text-align: center
  .team-title
    line-height: 1.2
  .team-description
    color: #3b434c
.team-wrapper
  display: flex
  flex-wrap: wrap
.item-title
  font-weight: $semi-bold
  color: #9da1a5
  text-transform: uppercase
.item-description
  line-height: 1.8
  color: #b5b8bc
.item-link
  display: block
.social-list
  display: flex
  justify-content: center
.slick-dot
  display: flex
  justify-content: center
  align-items: center
  li
    background: #c4c6c9
    cursor: pointer
    transition: all 0.5s
    &:nth-child(2), &:hover
      background: #f7600e
@include desktop
  .section-our-team
    padding: 91px 0 101px
    .team-title
      margin-bottom: 14px
    .team-description
      margin-bottom: 127px
      letter-spacing: 0.01px
  .team-wrapper
    justify-content: flex-start
    margin: 0 auto
    margin-bottom: 97px
    width: 1141px
    gap: 40px 30px
  .team-item
    width: 262px
    .item-title
      font-size: 25px
      margin-bottom: 21px
    .item-description
      font-size: 14px
    .item-link
      img
        width: 236px 
        height: 283px
        margin-bottom: 22px
        transition: all 0.5s
        filter: grayscale(1) invert(0)
        &:hover
          border-bottom: 5px solid #f7600e
          filter: grayscale(0) invert(0)
          transform: translateY(-10px)
  .social-list
    gap: 0 14px
    margin-bottom: 24px
  .slick-dot
    gap: 0 16px
    li
      width: 12px
      height: 12px
      border-radius: 50px
@include mobile
  .section-our-team
    padding: .93rem 0
    .team-title
      margin-bottom: .14rem
    .team-description
      margin-bottom: 1.27rem
      letter-spacing: .0001rem
  .team-wrapper
    justify-content: space-around
    margin-bottom: .97rem
    gap: .4rem .3rem
  .team-item
    width: 2.62rem
    .item-title
      font-size: .28rem
      margin-bottom: .21rem
    .item-description
      font-size: .23rem
    .item-link
      img
        width: 2.36rem 
        height: 2.83rem
        margin-bottom: .22rem
  .social-list
    gap: 0 .14rem
    margin-bottom: .19rem
    img
      width: .3rem
  .slick-dot
    gap: 0 .16rem
    li
      width: .12rem
      height: .12rem
      border-radius: .5rem
      &:nth-child(2)
        width: .15rem
        height: .15rem
/** Contact **/
.section-contact
  background: url(../img/contact_background.jpg) center/cover no-repeat
  text-align: center
  .contact-title, .contact-description
    color: #fff
.form-wrapper
  margin: 0 auto
.contact-input
  border: 1px solid #fff
  background: #fff
  &::placeholder
    line-height: 2.5
    color: #3b434c
.contact-message
  border: 1px solid #fff
  background: #fff
  line-height: 1.5
.action-wrapper
  display: flex
  justify-content: space-between
  flex-wrap: wrap
.contact-social-wrapper
  display: flex
.submit-button
  background: #f7600e
.social-link
  display: block
@include desktop
  .section-contact
    padding: 92px 0 139px
    .contact-title
      margin-bottom: 10px
    .contact-description
      margin-bottom: 93px
  .form-wrapper
    width: 833px
  .contact-input
    width: 402px
    padding: 14px 20px
    border-radius: 10px
    margin-bottom: 30px
    font-size: 16px
    &:first-child
      margin-right: 24px
  .contact-message
    width: 830px
    padding: 14px 19px
    border-radius: 10px
    font-size: 16px
    margin-bottom: 33px
  .contact-social-wrapper
    gap: 0 20px
    padding-right: 4px
@include mobile
  .section-contact
    padding: .97rem 0 1.4rem
    .contact-title
      margin-bottom: .1rem
    .contact-description
      margin-bottom: .93rem
  .contact-input
    width: 100%
    padding: .18rem .2rem
    border-radius: .1rem
    margin-bottom: .3rem
    font-size: .19rem
    &:first-child
      margin-right: .24rem
  .contact-message
    width: 100%
    padding: .14rem .19rem
    border-radius: .1rem
    font-size: .19rem
    margin-bottom: .33rem
  .contact-social-wrapper
    gap: 0 .2rem
    padding-right: .04rem
  .social-link
    img
      width: .42rem
